{% extends "base.html" %}
{% block content %}
<!-- <div class="visual"> -->
<div class="bgimg-slider">
    <div class="home-upper">
        <h1 class="home-upper__app-title">刺し身識別AI</h1>
    </div>
    <div class="home-lower">
        <ul class="home-lower__buttons">
            <li class="home-lower__button">
                <a href="/post/five" class="home-lower__button-link">5種類分類（マグロ, サーモン, カツオ, ぶり, アジ刺し身）</a>
            </li>
            <li class="home-lower__button">
                <a href="/post/shiromi" class="home-lower__button-link">白身</a>
            </li>
            <li class="home-lower__button">
                <a href="/post/ao" class="home-lower__button-link">青魚</a>
            </li>
        </ul>
    </div>
</div>
<!-- bgswitcher-script -->
<script src="../static/js/jquery.bgswitcher.js"></script>
<script>
jQuery(function($) {
  $('.bgimg-slider').bgSwitcher({
    images: ['../static/image/sashimi.jpg','../static/image/tuna.jpg','../static/image/katuo.jpg','../static/image/iwashi.jpg','../static/image/hirame.jpg','../static/image/aji.jpg'],
    effect: "drop",
    easing: "linear",
    duration: 850,
    interval:4500,
  });
});
</script>
<!-- bgswitcher-script-end -->
{% endblock content %}